/* You can add global styles to this file, and also import other style files */
.h-container{
    height: 100%;
}
.bg-nav{
    background-color: olive;
    
}
.bg-article{
    background-color: teal;

}
.bg-aside{
    background-color: violet;
}
